# LAB | Intro to Machine Learning

**Load the data**

In this challenge, we will be working with Spaceship Titanic data. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [1]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [101]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [87]:
mapping = {False: 1, True: 2}
spaceship['CryoSleep'] = spaceship['CryoSleep'].map(mapping)

In [84]:
mapping = {False: 1, True: 2}
spaceship['VIP'] = spaceship['VIP'].map(mapping)

**Check the shape of your data**

In [102]:
spaceship = pd.get_dummies(spaceship, columns=['HomePlanet'], drop_first=True)
spaceship = pd.get_dummies(spaceship, columns=['CryoSleep'], drop_first=True)
spaceship = pd.get_dummies(spaceship, columns=['VIP'], drop_first=True)

In [81]:
#your code here
spaceship.shape

(8693, 14)

**Check for data types**

**Check for missing values**

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [106]:
spaceship = spaceship.dropna()

In [107]:
spaceship

,PassengerId,Cabin,Destination,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,VIP_True
0,0001_01,B/0/P,TRAPPIST-1e,39.0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,True,False,False,False
1,0002_01,F/0/S,TRAPPIST-1e,24.0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,False,False,False,False
2,0003_01,A/0/S,TRAPPIST-1e,58.0,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,True,False,False,True
3,0003_02,A/0/S,TRAPPIST-1e,33.0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,True,False,False,False
4,0004_01,F/1/S,TRAPPIST-1e,16.0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,A/98/P,55 Cancri e,41.0,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,True,False,False,True
8689,9278_01,G/1499/S,PSO J318.5-22,18.0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,False,False,True,False
8690,9279_01,G/1500/S,TRAPPIST-1e,26.0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,False,False,False,False
8691,9280_01,E/608/S,55 Cancri e,32.0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,True,False,False,False
8692,9280_02,E/608/S,TRAPPIST-1e,44.0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,True,False,False,False

**KNN**

K Nearest Neighbors is a distance based algorithm, and requeries all **input data to be numerical.**

Let's only select numerical columns as our features.

In [118]:
#your code here

spaceshipnr = spaceship.select_dtypes(include=['number', 'bool'])
spaceshipnr = spaceshipnr.drop(columns='Transported')
spaceshipnr

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,VIP_True
0,39.0,0.0,0.0,0.0,0.0,0.0,True,False,False,False
1,24.0,109.0,9.0,25.0,549.0,44.0,False,False,False,False
2,58.0,43.0,3576.0,0.0,6715.0,49.0,True,False,False,True
3,33.0,0.0,1283.0,371.0,3329.0,193.0,True,False,False,False
4,16.0,303.0,70.0,151.0,565.0,2.0,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8688,41.0,0.0,6819.0,0.0,1643.0,74.0,True,False,False,True
8689,18.0,0.0,0.0,0.0,0.0,0.0,False,False,True,False
8690,26.0,0.0,0.0,1872.0,1.0,0.0,False,False,False,False
8691,32.0,0.0,1049.0,0.0,353.0,3235.0,True,False,False,False
8692,44.0,126.0,4688.0,0.0,0.0,12.0,True,False,False,False

And also lets define our target.

In [119]:
#your code here

features = spaceshipnr
target = spaceship["Transported"]

**Train Test Split**

Now that we have split the data into **features** and **target** variables and imported the **train_test_split** function, split X and y into X_train, X_test, y_train, and y_test. 80% of the data should be in the training set and 20% in the test set.

In [120]:
#your code here


X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.20, random_state=0)

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

You need to choose between **Classificator** or **Regressor**. Take into consideration target variable to decide.

Initialize a KNN instance without setting any hyperparameter.

In [139]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
pred = knn.predict(X_test)


# Avaliar a precisão do modelo
accuracy = accuracy_score(y_test, pred)

Evaluate your model.

In [140]:
#your code here
knn.score(X_test, y_test)

0.7658227848101266

**Congratulations, you have just developed your first Machine Learning model!**