# LAB | Intro to Machine Learning

**Load the data**

In this challenge, we will be working with Spaceship Titanic data. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [3]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [4]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [6]:
spaceship.shape

(8693, 14)

**Check for data types**

In [8]:
spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [10]:
spaceship.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [15]:
# Handling null values
spaceship_cleaned=spaceship.dropna()

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [16]:
spaceship_cleaned.shape

(6606, 14)

In [22]:
# Select only numerical columns
numerical_columns = spaceship_cleaned.select_dtypes(include=['number']).columns
features = spaceship_cleaned[numerical_columns]

# Display the first few rows of the numerical data
print(features.head())

    Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0  39.0          0.0        0.0           0.0     0.0     0.0
1  24.0        109.0        9.0          25.0   549.0    44.0
2  58.0         43.0     3576.0           0.0  6715.0    49.0
3  33.0          0.0     1283.0         371.0  3329.0   193.0
4  16.0        303.0       70.0         151.0   565.0     2.0

**KNN**

K Nearest Neighbors is a distance based algorithm, and requeries all **input data to be numerical.**

Let's only select numerical columns as our features.

In [23]:
# Define the target variable
target = spaceship_cleaned['Transported']

# Display the first few rows of the features and target
print("Features:")
print(spaceship_numerical)
print("Features:")
print(spaceship_numerical.head())
print("\nTarget:")
print(target.head())

Features:
       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0     39.0          0.0        0.0           0.0     0.0     0.0
1     24.0        109.0        9.0          25.0   549.0    44.0
2     58.0         43.0     3576.0           0.0  6715.0    49.0
3     33.0          0.0     1283.0         371.0  3329.0   193.0
4     16.0        303.0       70.0         151.0   565.0     2.0
...    ...          ...        ...           ...     ...     ...
8688  41.0          0.0     6819.0           0.0  1643.0    74.0
8689  18.0          0.0        0.0           0.0     0.0     0.0
8690  26.0          0.0        0.0        1872.0     1.0     0.0
8691  32.0          0.0     1049.0           0.0   353.0  3235.0
8692  44.0        126.0     4688.0           0.0     0.0    12.0

[6606 rows x 6 columns]
Features:
    Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0  39.0          0.0        0.0           0.0     0.0     0.0
1  24.0        109.0        9.0          25.0   549.0    44.0
2  58.0         43.0     3576.0           0.0  6715.0    49.0
3  33.0          0.0     1283.0         371.0  3329.0   193.0
4  16.0        303.0       70.0         151.0   565.0     2.0

Target:
0    False
1     True
2    False
3    False
4     True
Name: Transported, dtype: bool

And also lets define our target.

In [27]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(spaceship_numerical, target, test_size=0.20, random_state=0)

In [28]:
X_train.head()

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
3432  32.0          0.0        0.0           0.0     0.0     0.0
7312   4.0          0.0        0.0           0.0     0.0     0.0
2042  30.0          0.0      236.0           0.0  1149.0     0.0
4999  17.0         13.0        0.0         565.0   367.0     1.0
5755  26.0          0.0        0.0           0.0     0.0     0.0

In [29]:
y_train.head()

3432    False
7312     True
2042    False
4999    False
5755     True
Name: Transported, dtype: bool

In [30]:
X_test.head()

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
2453  50.0          0.0        0.0           0.0     0.0     0.0
1334  18.0          0.0        0.0           0.0     0.0     0.0
8272  15.0          0.0        0.0           0.0     0.0     0.0
5090  52.0          0.0        0.0           0.0     0.0     0.0
4357  62.0          0.0     1633.0           0.0  1742.0     0.0

In [31]:
y_test.head()

2453     True
1334    False
8272     True
5090    False
4357     True
Name: Transported, dtype: bool

**Train Test Split**

Now that we have split the data into **features** and **target** variables and imported the **train_test_split** function, split X and y into X_train, X_test, y_train, and y_test. 80% of the data should be in the training set and 20% in the test set.

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

You need to choose between **Classificator** or **Regressor**. Take into consideration target variable to decide.

Initialize a KNN instance without setting any hyperparameter.

In [34]:
from sklearn.neighbors import KNeighborsClassifier
# Initialize a KNN classifier instance
knn_classifier = KNeighborsClassifier()

# Print the KNN classifier to confirm initialization
print(knn_classifier)

KNeighborsClassifier()

Fit the model to your data.

In [36]:
knn_classifier.fit(X_train, y_train)

KNeighborsClassifier()

Evaluate your model.

In [42]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report

# Make predictions on the test set
y_pred = knn_classifier.predict(X_test)

# Calculate evaluation metrics
accuracy = accuracy_score(y_test, y_pred)

# Print the evaluation results
print(f"Accuracy: {accuracy:.2f}")
print(f"The accuracy of the model is {knn_classifier.score(X_test, y_test)*100: .2f}%")

Accuracy: 0.77
The accuracy of the model is  76.55%

**Congratulations, you have just developed your first Machine Learning model!**