# LAB | Intro to Machine Learning

**Load the data**

In this challenge, we will be working with Spaceship Titanic data. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [49]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [50]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [3]:
spaceship.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [51]:
#your code here
spaceship.head ()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [52]:
spaceship.shape

(8693, 14)

**Check for data types**

In [6]:
datatypes = spaceship.dtypes
datatypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [7]:
#your code here

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [8]:
#your code here

print(spaceship.isnull().sum())

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [54]:
spaceship.dropna(subset=['PassengerId', 'Name'])

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [26]:
spaceship_dropped = spaceship.dropna()

print (spaceship_dropped)

     PassengerId HomePlanet CryoSleep     Cabin    Destination   Age    VIP  \
0        0001_01     Europa     False     B/0/P    TRAPPIST-1e  39.0  False
1        0002_01      Earth     False     F/0/S    TRAPPIST-1e  24.0  False
2        0003_01     Europa     False     A/0/S    TRAPPIST-1e  58.0   True
3        0003_02     Europa     False     A/0/S    TRAPPIST-1e  33.0  False
4        0004_01      Earth     False     F/1/S    TRAPPIST-1e  16.0  False
...          ...        ...       ...       ...            ...   ...    ...
8688     9276_01     Europa     False    A/98/P    55 Cancri e  41.0   True
8689     9278_01      Earth      True  G/1499/S  PSO J318.5-22  18.0  False
8690     9279_01      Earth     False  G/1500/S    TRAPPIST-1e  26.0  False
8691     9280_01     Europa     False   E/608/S    55 Cancri e  32.0  False
8692     9280_02     Europa     False   E/608/S    TRAPPIST-1e  44.0  False

      RoomService  FoodCourt  ShoppingMall     Spa  VRDeck               Name  \
0             0.0        0.0           0.0     0.0     0.0    Maham Ofracculy
1           109.0        9.0          25.0   549.0    44.0       Juanna Vines
2            43.0     3576.0           0.0  6715.0    49.0      Altark Susent
3             0.0     1283.0         371.0  3329.0   193.0       Solam Susent
4           303.0       70.0         151.0   565.0     2.0  Willy Santantines
...           ...        ...           ...     ...     ...                ...
8688          0.0     6819.0           0.0  1643.0    74.0  Gravior Noxnuther
8689          0.0        0.0           0.0     0.0     0.0    Kurta Mondalley
8690          0.0        0.0        1872.0     1.0     0.0       Fayey Connon
8691          0.0     1049.0           0.0   353.0  3235.0   Celeon Hontichre
8692        126.0     4688.0           0.0     0.0    12.0   Propsh Hontichre

      Transported
0           False
1            True
2           False
3           False
4            True
...           ...
8688        False
8689        False
8690         True
8691        False
8692         True

[6606 rows x 14 columns]

In [27]:
print(spaceship_dropped.isnull().sum())

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

In [33]:
print(spaceship[['Cabin', 'Deck', 'Number', 'Side']].head())

   Cabin Deck Number Side
0  B/0/P    B      0    P
1  F/0/S    F      0    S
2  A/0/S    A      0    S
3  A/0/S    A      0    S
4  F/1/S    F      1    S

In [55]:
#drop passenger id and name

spaceship.drop (columns=["PassengerId","Name"], inplace=True)

In [47]:
#non-numerical colums

encoded_df = pd.get_dummies(spaceship, columns=['HomePlanet', 'CryoSleep','Cabin', 'Destination', 'VIP'], dtype=int)

In [78]:
# train test split

features = encoded_df.drop(columns=['Transported', 'Deck', 'Side'])

features

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Number,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,...,Cabin_G/998/S,Cabin_G/999/P,Cabin_G/999/S,Cabin_T/1/P,Cabin_T/3/P,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_False,VIP_True
0,39.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
1,24.0,109.0,9.0,25.0,549.0,44.0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
2,58.0,43.0,3576.0,0.0,6715.0,49.0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
3,33.0,0.0,1283.0,371.0,3329.0,193.0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
4,16.0,303.0,70.0,151.0,565.0,2.0,1,1,0,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,41.0,0.0,6819.0,0.0,1643.0,74.0,98,0,1,0,...,0,0,0,0,0,1,0,0,0,1
8689,18.0,0.0,0.0,0.0,0.0,0.0,1499,1,0,0,...,0,0,0,0,0,0,1,0,1,0
8690,26.0,0.0,0.0,1872.0,1.0,0.0,1500,1,0,0,...,0,0,0,0,0,0,0,1,1,0
8691,32.0,0.0,1049.0,0.0,353.0,3235.0,608,0,1,0,...,0,0,0,0,0,1,0,0,1,0
8692,44.0,126.0,4688.0,0.0,0.0,12.0,608,0,1,0,...,0,0,0,0,0,0,0,1,1,0

In [79]:
target = encoded_df['Transported']

In [87]:
X_train, X_test, y_train, y_test = train_test_split (features, target, test_size=0.2, random_state=12)

X_train, X_test, y_train, y_test

(       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck Number  \
 7880  19.0          0.0        0.0           0.0     0.0     0.0   1373
 2415  18.0       1102.0        9.0        2628.0     0.0     0.0     75
 1594  28.0          0.0       26.0          88.0     5.0   754.0    335
 6608  28.0          0.0      160.0           0.0  1538.0  1426.0    225
 8058  13.0          0.0        0.0           0.0     0.0     0.0   1389
 ...    ...          ...        ...           ...     ...     ...    ...
 4913  29.0          0.0        0.0           0.0     0.0     0.0    853
 4398  21.0          0.0        0.0           0.0     0.0     0.0    758
 1897  19.0         30.0        1.0        1051.0     0.0     6.0    399
 7640   0.0          0.0        0.0           0.0     0.0     0.0   1313
 7867  21.0        163.0      146.0          54.0   245.0    95.0   1725

       HomePlanet_Earth  HomePlanet_Europa  HomePlanet_Mars  ...  \
 7880                 1                  0                0  ...
 2415                 0                  0                1  ...
 1594                 1                  0                0  ...
 6608                 0                  1                0  ...
 8058                 1                  0                0  ...
 ...                ...                ...              ...  ...
 4913                 1                  0                0  ...
 4398                 1                  0                0  ...
 1897                 1                  0                0  ...
 7640                 1                  0                0  ...
 7867                 1                  0                0  ...

       Cabin_G/998/S  Cabin_G/999/P  Cabin_G/999/S  Cabin_T/1/P  Cabin_T/3/P  \
 7880              0              0              0            0            0
 2415              0              0              0            0            0
 1594              0              0              0            0            0
 6608              0              0              0            0            0
 8058              0              0              0            0            0
 ...             ...            ...            ...          ...          ...
 4913              0              0              0            0            0
 4398              0              0              0            0            0
 1897              0              0              0            0            0
 7640              0              0              0            0            0
 7867              0              0              0            0            0

       Destination_55 Cancri e  Destination_PSO J318.5-22  \
 7880                        0                          0
 2415                        0                          0
 1594                        0                          0
 6608                        1                          0
 8058                        1                          0
 ...                       ...                        ...
 4913                        0                          0
 4398                        0                          1
 1897                        1                          0
 7640                        0                          0
 7867                        0                          0

       Destination_TRAPPIST-1e  VIP_False  VIP_True
 7880                        1          1         0
 2415                        1          1         0
 1594                        1          1         0
 6608                        0          1         0
 8058                        0          1         0
 ...                       ...        ...       ...
 4913                        1          1         0
 4398                        0          1         0
 1897                        0          1         0
 7640                        1          1         0
 7867                        1          1         0

 [5284 rows x 5322 columns],
        Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck Number  \
 6458   0.0          0.0        0.0           0.0     0.0     0.0   1108
 5817  22.0          1.0        0.0          10.0   625.0     0.0   1178
 1968  30.0         63.0     9314.0         249.0  2624.0  4538.0     79
 5432   2.0          0.0        0.0           0.0     0.0     0.0    934
 5201   0.0          0.0        0.0           0.0     0.0     0.0    894
 ...    ...          ...        ...           ...     ...     ...    ...
 3706  50.0        667.0        0.0           0.0    11.0   170.0    654
 8360  36.0          0.0     3423.0           0.0   466.0   349.0    297
 5635  23.0          0.0        0.0           0.0     0.0     0.0    974
 2777  40.0          0.0        0.0           0.0     0.0     0.0     94
 996   19.0          0.0        0.0          27.0    53.0   677.0    201

       HomePlanet_Earth  HomePlanet_Europa  HomePlanet_Mars  ...  \
 6458                 1                  0                0  ...
 5817                 1                  0                0  ...
 1968                 0                  1                0  ...
 5432                 1                  0                0  ...
 5201                 1                  0                0  ...
 ...                ...                ...              ...  ...
 3706                 1                  0                0  ...
 8360                 0                  1                0  ...
 5635                 1                  0                0  ...
 2777                 0                  1                0  ...
 996                  1                  0                0  ...

       Cabin_G/998/S  Cabin_G/999/P  Cabin_G/999/S  Cabin_T/1/P  Cabin_T/3/P  \
 6458              0              0              0            0            0
 5817              0              0              0            0            0
 1968              0              0              0            0            0
 5432              0              0              0            0            0
 5201              0              0              0            0            0
 ...             ...            ...            ...          ...          ...
 3706              0              0              0            0            0
 8360              0              0              0            0            0
 5635              0              0              0            0            0
 2777              0              0              0            0            0
 996               0              0              0            0            0

       Destination_55 Cancri e  Destination_PSO J318.5-22  \
 6458                        1                          0
 5817                        0                          0
 1968                        0                          0
 5432                        0                          0
 5201                        0                          0
 ...                       ...                        ...
 3706                        0                          0
 8360                        0                          0
 5635                        0                          0
 2777                        1                          0
 996                         0                          0

       Destination_TRAPPIST-1e  VIP_False  VIP_True
 6458                        0          1         0
 5817                        1          1         0
 1968                        1          1         0
 5432                        1          1         0
 5201                        1          1         0
 ...                       ...        ...       ...
 3706                        1          1         0
 8360                        1          1         0
 5635                        1          1         0
 2777                        0          1         0
 996                         1          1         0

 [1322 rows x 5322 columns],
 7880    False
 2415    False
 1594    False
 6608    False
 8058     True
         ...
 4913     True
 4398    False
 1897     True
 7640     True
 7867    False
 Name: Transported, Length: 5284, dtype: bool,
 6458    False
 5817    False
 1968    False
 5432    False
 5201     True
         ...
 3706    False
 8360     True
 5635     True
 2777     True
 996     False
 Name: Transported, Length: 1322, dtype: bool)

**KNN**

K Nearest Neighbors is a distance based algorithm, and requeries all **input data to be numerical.**

Let's only select numerical columns as our features.

And also lets define our target.

In [88]:
#your code here

from sklearn.neighbors import KNeighborsClassifier

**Train Test Split**

Now that we have split the data into **features** and **target** variables and imported the **train_test_split** function, split X and y into X_train, X_test, y_train, and y_test. 80% of the data should be in the training set and 20% in the test set.

In [90]:

#Train the model
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

#Make predictions
pred = knn.predict(X_test)

#Compare predictions and values
pred
y_test.values

array([False, False, False, ...,  True,  True, False])

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

You need to choose between **Classificator** or **Regressor**. Take into consideration target variable to decide.

Initialize a KNN instance without setting any hyperparameter.

In [99]:
#your code here
# KNN Classificator
# Target is categorical

knn = KNeighborsClassifier(n_neighbors=3)
knn

KNeighborsClassifier(n_neighbors=3)

In [ ]:
####Just wondering, I tried it with 5 and it came out differently.

Fit the model to your data.

In [100]:
#your code here

knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

Evaluate your model.

In [101]:
#your code here
knn.score(X_test, y_test)

0.7481089258698941

**Congratulations, you have just developed your first Machine Learning model!**